.components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  .logo div{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
}
.admin{
  float: right;
  margin-right: 4rem;
}
.today{
float: left;
padding-left: 2rem;
}